In [1]:
#log into kaggle to access dataset
import os
from collections import defaultdict
import kagglehub
import numpy as np
from tqdm import tqdm

In [2]:
#please ikke offentligg√∏r min api key. 
os.environ['KAGGLE_USERNAME'] = "marcusgaleajacobsen"
os.environ['KAGGLE_KEY'] = "32a3003f52c97053841ea46c492128dc"

# Download data

In [3]:
# Download latest version
datapath = kagglehub.dataset_download("netflix-inc/netflix-prize-data")
os.listdir(datapath)

['combined_data_1.txt',
 'combined_data_2.txt',
 'combined_data_3.txt',
 'combined_data_4.txt',
 'movie_titles.csv',
 'probe.txt',
 'qualifying.txt',
 'README']

# Custom Movie and User data structures
One data structure suggestion is to store the users and movies in their own dictionaries with the user_id and movie_id as the keys. The advantage of dictionaries is that all entries have an access time of $O(1)$. 
```python
users = {
    '123': User('123')
    ...
}
movies = {
    '1': Movie(1, 'Toy Story', '1995')
    ...
}
```

In [4]:
from src.structures import Movie, User
from src.data_methods import read_movies,read_viewers, dict_to_df, read_df

n_lines = 10000 #number of reviews to read
datafiles = ["combined_data_1.txt"]#, "combined_data_2.txt", "combined_data_3.txt", "combined_data_4.txt"]
with_tqdm = False #set to True to see progress bar (reduce speed)

movies = read_movies(datapath)
users = read_viewers(datapath, movies, datafiles = datafiles, with_tqdm= with_tqdm, n_lines=n_lines) #read only 100000 reviews for now

# Methods

In [5]:
#get ratings for a user
user = users['1488844']
print(user)
print("ratings on the format movie_id : rating ",user.get_ratings())

User(1488844)
ratings on the format movie_id : rating  defaultdict(<class 'float'>, {'1': 3, '8': 4})

In [6]:
#get ratings for a movie
movie = movies['1']
print(movie)
print("ratings on the format user_id : rating: ", movie.get_ratings())

Dinosaur Planet, 2003
ratings on the format user_id : rating:  {'1488844': 3, '822109': 5, '885013': 4, '30878': 4, '823519': 3, '893988': 3, '124105': 4, '1248029': 3, '1842128': 4, '2238063': 3, '1503895': 4, '2207774': 5, '2590061': 3, '2442': 3, '543865': 4, '1209119': 4, '804919': 4, '1086807': 3, '1711859': 4, '372233': 5, '1080361': 3, '1245640': 3, '558634': 4, '2165002': 4, '1181550': 3, '1227322': 4, '427928': 4, '814701': 5, '808731': 4, '662870': 5, '337541': 5, '786312': 3, '1133214': 4, '1537427': 4, '1209954': 5, '2381599': 3, '525356': 2, '1910569': 4, '2263586': 4, '2421815': 2, '1009622': 1, '1481961': 2, '401047': 4, '2179073': 3, '1434636': 3, '93986': 5, '1308744': 5, '2647871': 4, '1905581': 5, '2508819': 3, '1578279': 1, '1159695': 4, '2588432': 3, '2423091': 3, '470232': 4, '2148699': 2, '1342007': 3, '466135': 4, '2472440': 3, '1283744': 3, '1927580': 4, '716874': 5, '4326': 4, '1546549': 5, '1493697': 1, '880166': 5, '535396': 2, '494609': 4, '1961619': 5, '883478': 4, '793564': 4, '1567202': 2, '573537': 4, '1972040': 4, '1838912': 3, '411705': 4, '2244518': 5, '584542': 5, '667730': 5, '2488120': 5, '1926776': 1, '38052': 3, '1196100': 4, '314933': 3, '1792741': 2, '769643': 1, '2477242': 5, '1421006': 3, '729846': 4, '1719610': 2, '1696031': 4, '1817215': 4, '406057': 4, '636262': 1, '1245406': 4, '1834590': 3, '593225': 3, '1011918': 4, '1665054': 4, '2630337': 5, '1155747': 3, '2439493': 1, '479924': 5, '530789': 5, '765860': 4, '231001': 3, '1493615': 5, '1850615': 2, '68959': 3, '147386': 5, '624035': 5, '782308': 5, '1116080': 5, '421374': 5, '1158759': 4, '1025798': 3, '1215397': 5, '2475251': 4, '321111': 2, '2162676': 3, '2635437': 4, '2389367': 1, '485622': 5, '235553': 4, '831869': 4, '99400': 5, '684876': 4, '1871179': 3, '1107678': 5, '642036': 3, '700890': 5, '2289956': 5, '2040859': 1, '1524964': 3, '121318': 4, '317050': 5, '2287003': 5, '59052': 2, '893742': 4, '1346257': 3, '55016': 3, '30245': 5, '743633': 4, '1596531': 5, '1125499': 5, '706832': 4, '2465337': 3, '2291422': 1, '1777406': 3, '1904905': 4, '2450433': 3, '1348967': 2, '638020': 3, '2217779': 4, '194280': 1, '493009': 4, '1567167': 4, '850327': 5, '520386': 3, '320540': 2, '1188228': 2, '57961': 4, '1113230': 3, '1374216': 2, '595778': 3, '209573': 4, '2354601': 5, '2563596': 4, '835265': 4, '1819474': 3, '1447104': 3, '1100940': 1, '143274': 3, '2329565': 4, '181592': 4, '936396': 2, '1125797': 3, '2283366': 3, '514495': 4, '1772176': 3, '1877347': 4, '1287892': 4, '255443': 2, '890669': 4, '1989766': 4, '2315073': 4, '14756': 4, '907623': 3, '991423': 4, '1604238': 4, '1027056': 3, '2025883': 5, '732936': 5, '563962': 5, '799442': 4, '352635': 5, '2537543': 5, '1564395': 4, '1655178': 4, '573434': 4, '1141189': 4, '383247': 5, '1763921': 5, '1943970': 5, '322009': 3, '2333817': 3, '2095681': 2, '1149588': 4, '2354740': 5, '2421360': 5, '496087': 2, '2191781': 1, '1694083': 4, '818416': 3, '701960': 5, '2090477': 4, '1664010': 5, '2583822': 5, '369646': 5, '2234063': 4, '259799': 4, '1077982': 4, '2631796': 4, '1122383': 3, '1508526': 3, '1600207': 5, '1283117': 5, '1727869': 5, '1522799': 4, '1394012': 5, '1558286': 3, '1155602': 3, '361066': 3, '1743210': 5, '1148389': 4, '2268101': 4, '519684': 5, '767518': 5, '122197': 1, '2112162': 4, '1073367': 3, '400162': 5, '1524343': 5, '741245': 4, '2563768': 3, '1406595': 4, '1137010': 4, '60343': 5, '225765': 4, '2530404': 3, '437881': 3, '1935793': 1, '134001': 4, '2607300': 3, '1008986': 4, '94565': 4, '828410': 4, '1805202': 4, '1922925': 4, '1435717': 5, '2277395': 4, '2305014': 5, '166041': 4, '2413320': 4, '87113': 2, '722591': 5, '2291306': 1, '2010770': 4, '255383': 5, '1873429': 4, '1647618': 4, '608234': 5, '42930': 3, '1462072': 5, '685565': 5, '3321': 3, '2554942': 4, '1874547': 4, '2269844': 5, '34907': 3, '1779903': 4, '2576424': 4, '230112': 3, '508727': 3, '1603525': 3, '172264': 4, '1182185': 4, '2275470': 2, '491531': 5, '1346432': 4, '1554712': 5, '1450941': 5, '1714116': 3, '2016488': 4, '1782762': 4, '1343170': 5, '2565752': 4, '435841': 3, '2242821': 5, '638824': 5, '2256485': 1, '101597': 5, '623036': 5, '1559445': 5, '1723381': 5, '1824586': 4, '2233105': 4, '682963': 3, '2529547': 5, '504620': 2, '1682104': 4, '16272': 4, '2491785': 5, '978412': 5, '2054145': 3, '2444240': 3, '547732': 3, '811790': 5, '31913': 4, '437111': 4, '640588': 4, '2625019': 3, '2605190': 5, '915': 5, '1430587': 4, '2544219': 5, '2603381': 5, '305344': 1, '2569099': 1, '2430356': 4, '885165': 4, '2380806': 5, '1512406': 1, '1774623': 4, '2226525': 4, '2537076': 4, '2060858': 4, '498469': 5, '68033': 4, '1819146': 5, '2088415': 4, '473070': 5, '1823641': 5, '1839976': 2, '14924': 5, '1852606': 4, '453694': 5, '921487': 2, '1022254': 5, '2464081': 4, '1228324': 4, '1563530': 4, '1181170': 3, '1357013': 3, '21722': 4, '288420': 5, '1739170': 5, '2584676': 3, '2013504': 4, '1245176': 4, '269524': 3, '661344': 3, '652324': 3, '2239213': 3, '863302': 4, '758850': 4, '1884755': 2, '544833': 3, '1562707': 1, '810700': 5, '837756': 5, '155164': 4, '493945': 5, '1565175': 5, '2005193': 4, '1605780': 4, '1294335': 2, '608576': 4, '659505': 4, '1604707': 4, '2630797': 5, '402266': 5, '752642': 3, '1906145': 4, '389872': 2, '1462866': 2, '1952116': 4, '54774': 4, '1776980': 5, '1494196': 5, '253794': 5, '1569513': 3, '596728': 2, '1107588': 1, '1133763': 3, '1398076': 4, '1178171': 4, '984369': 3, '2618594': 4, '1653834': 4, '2322840': 3, '2207647': 4, '1994111': 4, '1824044': 4, '2255037': 3, '2056022': 3, '1458179': 4, '1508350': 4, '1168571': 5, '766489': 3, '1424199': 5, '2054180': 3, '448902': 5, '1547173': 3, '1751103': 4, '121073': 5, '2609436': 4, '1398626': 2, '1311231': 3, '2279000': 3, '236921': 5, '2566259': 5, '758937': 4, '2260684': 4, '1190829': 4, '136106': 3, '344753': 3, '568930': 5, '206115': 4, '2390644': 3, '2078679': 5, '1682651': 4, '386915': 4, '972136': 3, '1806515': 3, '11589': 3, '2118461': 5, '444411': 3, '691108': 4, '332401': 3, '1278488': 4, '358776': 4, '387418': 1, '872408': 4, '646098': 4, '396595': 5, '1366860': 4, '1046882': 3, '470861': 5, '1455257': 4, '1274780': 3, '379184': 4, '1273630': 4, '492291': 3, '145873': 3, '1388284': 5, '712610': 4, '1116065': 1, '660499': 1, '1918987': 4, '1357894': 3, '190418': 3, '1060658': 3, '1443203': 4, '1772839': 5, '2385774': 3, '1059319': 3, '831775': 4, '881346': 5, '1066317': 4, '13651': 3, '208920': 4, '308753': 5, '2564257': 3, '565041': 4, '1602153': 4, '173930': 4, '202811': 3, '353369': 3, '1201176': 4, '2047577': 3, '685113': 4, '1686060': 5, '151004': 5, '2126192': 3, '1981464': 4, '1862581': 4, '1255780': 5, '1962300': 3, '1515355': 3, '1001779': 4, '2093105': 3, '1123959': 3, '1876297': 5, '1364481': 4, '998236': 5, '328415': 3, '1347129': 4, '1117062': 4, '1033930': 3, '45117': 5, '1005769': 5, '712609': 4, '740495': 4, '2497991': 4, '1017324': 4, '120491': 5, '1645794': 4, '1658790': 3, '2451020': 4, '1878798': 4, '1790903': 4, '1254683': 1, '874943': 5, '121456': 4, '1140108': 4, '515436': 1, '272689': 5, '1247177': 3, '263240': 3, '2539549': 3, '2565654': 5, '334701': 3, '42921': 3, '2011399': 5, '433945': 5, '2151149': 4, '1415954': 2, '1086360': 3, '2419258': 4, '2380848': 5, '1550216': 1, '596533': 5, '287901': 5, '188613': 4, '1654508': 3, '1313126': 5, '51334': 4, '2374451': 4, '2031093': 4, '548064': 5, '946102': 5, '1790158': 4, '1403184': 3, '1535440': 4, '1426604': 4, '1815755': 5}

In [7]:
movies

defaultdict(src.structures.Movie,
            {'1': Movie(1, Dinosaur Planet, 2003) seen by 547 users,
             '2': Movie(2, Isle of Man TT 2004 Review, 2004) seen by 145 users,
             '3': Movie(3, Character, 1997) seen by 2012 users,
             '4': Movie(4, Paula Abdul's Get Up & Dance, 1994) seen by 142 users,
             '5': Movie(5, The Rise and Fall of ECW, 2004) seen by 1140 users,
             '6': Movie(6, Sick, 1997) seen by 1019 users,
             '7': Movie(7, 8 Man, 1992) seen by 93 users,
             '8': Movie(8, What the #$*! Do We Know!?, 2004) seen by 4894 users})

# Normalization

In [8]:
# # Normalize ratings for each user to have mean 0 and variance 1
# for user in users.values():
#     user.normalize_ratings()

# Add Genres to movies

In [9]:
import pandas as pd

splits = {'train': 'train.csv', 'validation': 'validation.csv', 'test': 'test.csv'}
genres = pd.read_csv("hf://datasets/jquigl/imdb-genres/" + splits["train"])

# Split the 'movie title - year' column into 'movie title' and 'year'
genres[['movie title', 'year']] = genres['movie title - year'].str.rsplit(' - ', n=1, expand=True)

# Drop the original 'movie title - year' column
genres.drop(columns=['movie title - year'], inplace=True)

#set movie title as index
genres.set_index('movie title', inplace=True)

#remove duplicate movies
genres = genres[~genres.index.duplicated(keep='first')]

# Display the genres DataFrame
genres

,genre,expanded-genres,rating,description,year
movie title,,,,,
Flaming Ears,Fantasy,"Fantasy, Sci-Fi",6.0,Flaming Ears is a pop sci-fi lesbian fantasy f...,1992
Jeg elsker dig,Romance,"Comedy, Drama, Romance",5.8,Six people - three couples - meet at random at...,1957
Povjerenje,Thriller,Thriller,NaN,"In a small unnamed town, in year 2025, Krsto w...",2021
Gulliver Returns,Fantasy,"Animation, Adventure, Family",4.4,The legendary Gulliver returns to the Kingdom ...,2021
Prithvi Vallabh,Biography,"Biography, Drama, Romance",NaN,"Seminal silent historical film, the story feat...",1924
...,...,...,...,...,...
Paradise for Three,Romance,"Romance, Comedy",7.0,"A wealthy business man, out of touch with real...",1938
Road to Defiance,Action,"Action, History",NaN,Two Scottish soldiers - Hamish McNeill & Gordo...,nan
Under Your Hat,Adventure,"Adventure, Comedy",5.5,Inept Secret Agent on a job in the South of Fr...,1940
The Shadow Thing,Horror,Horror,NaN,The Phantom and Persephone.,nan
Gatwick Gangsters,Adventure,"Action, Adventure, Drama",2.7,"A tale of love, intrigue, crime, passion, espi...",2017

In [10]:
for i in tqdm(range(1, len(movies)+1)):
    movie = movies[str(i)]

    try:
        if not genres.loc[movie.title].empty:
            if genres.loc[movie.title].year == movie.year:
                if type(genres.loc[movie.title]) == pd.Series:
                    movie.genres = genres.loc[movie.title]['expanded-genres'].split(", ")
                else:
                    movie.genres = genres.loc[movie.title]['expanded-genres'].iloc[0].split(", ")
    except KeyError:
        pass

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8/8 [00:00<00:00, 211.51it/s]

In [11]:
g_count = 0
for movie in movies.values():
    if movie.genres:
        g_count += 1

print(f"Movies with genres: {g_count}/{len(movies)}")

Movies with genres: 2/8

# Similarity

In [12]:
#similarity between two users
user1 = users['1488844']
user2 = users['822109']
similarity = user1.similarity(user2, method='pearson')
print(f"similarity between {user1} and {user2}: {similarity}")

similarity between User(1488844) and User(822109): -0.0

In [13]:
#similarity between two movies
movie1 = movies['1']
movie2 = movies['2']
similarity = movie1.similarity(movie2, method='pearson')
print(f"similarity between {movie1} and {movie2}: {similarity:.2f}")

similarity between Dinosaur Planet, 2003 and Isle of Man TT 2004 Review, 2004: 0.98

# Jaccard bagging representation of movies
In order to compute the LSH algorithm, we need to represent the users/movies as a set of ratings. On way to do this, is described in MMDS chapter 3.1 as the Jaccard bagging representation. In this representation, ids appear in the set as many times as the rating. For example, if a user has rated movie 1 with a 5, the set would look like this: {1, 1, 1, 1, 1}.

In [20]:
print(f"{user1} ratings has bag representation {user1.bag_ratings()}")

User(1488844) ratings has bag representation ['1', '1', '1', '8', '8', '8', '8']

# Alternative data structure: DataFrame
Another suggestion is to use a pandas DataFrame to store the data. The advantage of using a DataFrame is that it is very fast and has a lot of built-in functionality. (It's also more memory efficient than dictionaries). The downside is that access time for users/movies is $O(n)$ which is slower than a dictionary (where $n$ is the number of rows in the DataFrame).

In [ ]:
df = read_df(datapath, datafiles=datafiles, n_lines=100000)
df.set_index('user_id', inplace=True)

       user_id movie_id rating        date
0      1488844        1      3  2005-09-06
1       822109        1      5  2005-05-13
2       885013        1      4  2005-10-19
3        30878        1      4  2005-12-26
4       823519        1      3  2004-05-03
...        ...      ...    ...         ...
99965   735848       30      4  2004-06-24
99966   254710       30      4  2005-08-18
99967   865725       30      4  2004-04-25
99968   568153       30      3  2005-08-19
99969  2502775       30      4  2005-08-19

[99970 rows x 4 columns]

In [16]:
# #all ratings for user 1488844
# df[df.user_id == "1488844"]

In [17]:
# #all ratings for movie 1
# df[df.movie_id == "1"]

In [18]:
#get all unique user id # TOOOOO SLOW
# unique_users = df.user_id.unique()
# for i in tqdm(range(len(unique_users))):
#     user = unique_users[i]
#     df_user = df[df.user_id == user]

In [19]:
# unique_users = df.user_id.unique()
# # for i in tqdm(range(len(unique_users))):
# #     user = unique_users[i]
# #     info_user = users[user]